/*resume standard*/
.zpResumeS {width:768px;border:1px #D6D3CE solid;clear:both;margin:0 auto;}
.zpResumeS .box {clear:both;margin:15 10;}
.zpResumeS .greyLine {border-top:2px #D6D3CE solid;clear:both;}
.zpResumeS .name {font-size:40px;font-weight:bold;color:#000000;float:left;text-align:center;}
.zpResumeS .baseinfo {font-size:12px;font-weight:normal;color:#000000;line-height:150%;float:right;text-align:right;}
.zpResumeS .photo {float:right;}
.zpResumeS .itemTitle {width:575px;background:url('http://myimg.zhaopin.com/images/new_v3/resumetitleleft.gif') no-repeat left top;text-align:left;clear:both;overflow:hidden;padding-left:38px;line-height:26px;}
.zpResumeS .itemTitle .right {background:url('http://myimg.zhaopin.com/images/new_v3/resumetitleright.gif') no-repeat right top;padding-right:229px;float:left;}
.zpResumeS .itemTitle .center {color:#8866FF;font-size:14px;padding:0 3 0 5;background:url('http://myimg.zhaopin.com/images/new_v3/resumetitlecenter.gif') repeat-x;float:left;}
.zpResumeS .itemCon {font-size:12px;color:#000000;line-height:150%;text-align:left;padding:18 10;margin-bottom: 20px;}
.btn3,.btn4,.btn5,.btn6,.btn7,.btn8{text-align:center;cursor:pointer;color:#fff;border:0;}
.btn4,.btn5,.btn6,.btn7,.btn8{height:32px;font-weight:bold;font-size:14px;}
.btn5{width:145px;background:url(http://myimg.zhaopin.com/images/new_v4/btn10.jpg) no-repeat;margin:10px 0;}
.box div {margin: 5px;}
